
:root{
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
  --hue: 0deg;
  --brightness: 0.1;
  --contrast: 50;
  --grayscale: 0;
  --sepia: 0;

}

img{
  padding: var(--spacing);
  background: var(--base);
  filter:
    blur(var(--blur))
    hue-rotate(var(--hue))
    brightness(var(--brightness))
    contrast(var(--contrast))
    grayscale(var(--grayscale))
    sepia(var(--sepia))
    ;
  flex: 2;
  margin-right:100px;
  max-width:800px;
}

.highlight{
  color: var(--base);
}



  /*
    misc styles, nothing to do with CSS variables
  */

  body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 1.2px;
  }

.photo-panel{
  display: flex;
  flex-direction: row;
}

  .controls {
    margin-left: 10px;
    margin-bottom: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 200px;
  }

  .controls label{
    width: 40px;
  }

  .controls input {
    width:150px;
    margin-bottom: 20px;
  }
